html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar-collapse {
  flex-grow: 0;
}

nav {
  background-color: aqua;
}

.nav-link {
  color: red !important;
}

sub {
  margin-left: 20px;
}

.pruhledne {
  visibility: hidden;
}

@media screen and (max-width: 950px) {
  sub,
  .pruhledne {
    display: none;
  }
}
